language: python
python:
- '3.5'
before_install:
- openssl aes-256-cbc -K $encrypted_1be76513ce5b_key -iv $encrypted_1be76513ce5b_iv
  -in rossandcarriescale/secret.py.enc -out rossandcarriescale/secret.py -d
install: pip install -r requirements.txt
script: python manage.py test
