<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ross and Carrie Scale</title>
</head>
<body>
    {% for investigation in investigations %}
        <div id="{{ investigation.html_id }}">
            <h2>{{ investigation.title }}</h2>
            {% for score in investigation.score_set.all %}
                {{ score.person }}
                Pseudoscience: {{ score.pseudoscience_display }}
                Cost: {{ score.cost_display }}
                Danger: {{ score.danger_display }}
                Creepiness: {{ score.creepiness_display }}
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>